body {
  margin: 0;
  background-color: #ffffff;


}
h1 {
  margin-top: 0;
  font-size: 3em;
  text-align: left;
  text-shadow: 2px 2px 2px #000000;

}
#wrapper {
  background-color: #eeeeee;
  color: 006600;
  min-width: 960px;
  font-family: Verdna,Arial,sans-serif;
  width: 80%;
}
header{
  color: #cc66cc;
  background-color: #636631;
  border-bottom: 2px solid #000;
  text-align: right;
  height: 120px;
  background-image: url("showybg.jpg");
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 0 20px;
}
header a{
  font-size: .80em;
}
header a:link,header a:visited;{
  color: #fff;
}
header a:focus,header a:hover{
  color: #eee;
}
nav{
  float: left;
  width: 150px;
}
nav ul{
  margin-top: 20px;
  list-style: none;
}
nav a{
  text-decoration: none;
  font-size: 1.2em;
}
nav a:link{
color: #006600;
}
nav a:visited{
  color: #003300;
}
nav a:focus,nav a:hover{
  color: #cc66cc;
}
nav a:active{
  color: #000;
}
nav img{
  margin: 30px;
}
main{
  margin: 0 210px 0 160px;
  padding: 1px 10px 20px 10px;
  background-color: #fff;
  color: #006600;
}
main p {
  margin: 20px;
}
main h2, main h3 {
  color: #cc66cc;
  background-color: #ffffff;

}
aside {
  float: right;
  width: 200px;
}
aside h3 {
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
  margin: 10px;
  font-size: .90em;
  color: #cc66cc;
  background-color: #eeeeee;
}
.floatright {
  margin: 10px;
  float:right;
}
.news {
  font-size: .80em;
  margin: 10px;
}
.hir {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display: block;
}

footer {
  font-size: .70em;
  text-align: center;
  color: #006600;
  background-color: #ffffff;
  padding-top: 10px;
  clear: both;
}
ul li a{
  background: url(sprite.png) no-repeat;
  display: block;
  height: 42px;
}
.home a {
  background-position: -10px 0;
}
.home a:hover{
  background-position: -10px -47px;
}
.services a {
  background-position: -131px 0;
}
.services a:hover{
  background-position: -136px -47px;
}
.contact a {
  background-position: -259px 0;
}
.contact a:hover{
  background-position: -265px -47px;
}
.fall a{
  background-position: -10px 0;
}
.fall a:hover {
  background-position: -10px -47px;
}
.winter a {
  background-position: -131px 0;
}
.winter a:hover {
  background-position: -136px -47px; 
}
